<div class="container">
    <h1>Chew-Z</h1>
    <h3>A Choose Your Own Adventure Generator</h3>
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <button id="newButton" name="newButton" class="btn btn-success" ng-click="createGame()">New Game</button>
                    <!--<button id="noButton" name="noButton" class="btn btn-info">No</button>-->
                </div>
            </div>
        </fieldset>
    </form>
</div>